body {
  font-size: 18px;
}

.bottom-menu-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.bottom-menu-container .dir-control {
  display: flex; 
  gap: 10px;
}

.bottom-menu-container .upload-control {
  display: flex; 
  gap: 10px;
}

.image-feed-button {
  padding-left: 20px;
  padding-top: 2px;
  min-height: 30px;
  min-width: 120px;
  background-color: rgba(0, 0, 0, 0.4);
}

.filemanager-menu {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.filemanager-container {
  margin:auto;
  max-width: 1200px;
}

.filemanager-tree {
  display: grid;
  margin: 5px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.filemanager-path {
  margin-left: 50px;
  font-size: 1em;
  color: rgb(179, 179, 179);
}

.folder-icon {
  display: inline;
  height: 20px;
}

.item-container {
  display: grid;
  grid-template-areas: "item-container-main" "item-container-bottom";
  background-color: rgba(22, 22, 22, 0.2);
  justify-content: center;
  border-bottom: 6px solid rgba(22, 22, 22, 0.4);
  margin-bottom: 5px;
}

.item-container-main {
  min-height: 50px;
  word-break: break-all;
  grid-area: item-container-main;
}

.item-container-bottom {
  grid-area: item-container-bottom;
  align-self: flex-end;
  max-height: 24px;
  background-color: black;
}

.visibility-button {
  margin-left: 15px;
  cursor: pointer;
  opacity: 80%;
  text-decoration: overline;
}

.visibility-button:hover {
  opacity: 100%;
  text-decoration: overline;
}

.remove-button {
  margin-left: 15px;
  cursor: pointer;
  color: rgb(214, 65, 65);
  opacity: 50%;
  text-decoration: overline;
}

.remove-button:hover {
  opacity: 100%;
  text-decoration: overline;
}

.item-link {
  margin-top: 5px;
  margin-left: 5px;
}

.filemager-path {
  margin-left: 50px;
  font-size: 0.9em;
  color: rgb(119, 45, 82);
}

.filemanager-folder-container {
  background-color: #36122a;
}

@media only screen and (min-width: 1200px) {  
  .filemanager-tree {
    column-gap: 10px;
  }
}

