body {
  font-size: 18px;
}

.bottom-menu-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.bottom-menu-container .dir-control {
  display: flex; 
  gap: 10px;
}

.bottom-menu-container .upload-control {
  display: flex; 
  gap: 10px;
}

.filemanager-menu {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.filemanager-container {
  margin:auto;
  max-width: 1200px;
}

.filemanager-tree {
  display: grid;
  margin: 5px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.filemager-path {
  margin-left: 50px;
  font-size: 0.9em;
  color: rgb(119, 45, 82);
}

.folder-icon {
  display: inline;
  height: 20px;
}

.item-container {
  display: grid;
  grid-template-areas: "item-container-main" "item-container-bottom";
  background-color: rgba(22, 22, 22, 0.2);
  justify-content: center;
}

.item-container:nth-child(odd) {
  background-color: rgba(22, 22, 22, 0.5);
  border-radius: 20%;
}

.item-container-main {
  grid-area: item-container-main;
  align-self: center;
}

.item-container-bottom {
  grid-area: item-container-bottom;
  border-radius: 20%;
  max-width: 100px;
  max-height: 24px;
  background-color: rgb(36, 34, 35);
}

.visibility-button {
  margin-left: 10px;
  cursor: pointer;
  opacity: 80%;
  text-decoration: overline;
}

.visibility-button:hover {
  opacity: 100%;
  text-decoration: overline;
}

.remove-button {
  margin-left: 10px;
  cursor: pointer;
  color: rgb(214, 65, 65);
  opacity: 50%;
  text-decoration: overline;
}

.remove-button:hover {
  opacity: 100%;
  text-decoration: overline;
}

.item-link {
  margin-top: 5px;
  margin-left: 5px;
}

.filemager-path {
  margin-left: 50px;
  font-size: 0.9em;
  color: rgb(119, 45, 82);
}

.filemanager-folder-container {
  background-color: #36122a;
}

@media only screen and (min-width: 1200px) {  
  .filemanager-tree {
    column-gap: 10px;
  }
}

