# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env
# dependencies
/build
.npm
.eslintcache
/node_modules
/coverage
logs



npm-debug.log*
yarn-debug.log*
yarn-error.log*
